.card{
    border: none !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.imgCanvas{
    height: 400.6px !important;
}

.card-img-top{
    height: 100% !important;
    object-fit: cover !important;
}

.card-body{
    height: 100% !important;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform 0.3s ease;
    max-width: 100%;
}

.title {
    font-size: 1.4rem;
    font-weight: 400;
    color: #252525 !important;
    letter-spacing: -0.5px;
}

.category{
    color: #949494 !important;
}

.hover-effect:hover{
    color: white !important;
    font-weight: bold;
}