.navbar{
    background-color: #121212;
}

.navbar-brand{
    color: #747474 !important;
}

.autocomplete-results {  
    max-height: 300px;
    overflow-y: scroll;  
    z-index: 3;
    position: absolute;
    width: 100%;
    margin-top: 3rem;
    border: none !important;
}

.dropdown-item:hover{
    background-color: #5E676E !important;
    color: #121212 !important;
}

input{
    width: 300px !important;
    position: relative;
}

input::placeholder{
    color: rgb(0, 0, 0) !important;
    font-weight: 500 !important;
}

.form-control{
    background-color: #383E42 !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 500 !important;
    border: none !important;
}

.autocomplete-results::-webkit-scrollbar {  
    width: 5px;
    background-color: #1a1a1a;
    border-radius: 0 0.5rem 0.5rem 0;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #747474;
    width: 10px;
    border-radius: 1rem;
}

.autocomplete-item {  
    cursor: pointer;  
    transition: background-color 0.2s;
    background-color: #1a1a1a;
}  
    
.autocomplete-item:hover {  
    background-color: rgb(0, 0, 0);  
}

p{
    margin: 0px !important;
}

.nav-link{
    color: white !important;
}