.navbar{
    background-color: #121212;
}

.navbar-brand{
    color: #ffffff !important;
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28115, 115, 115, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.autocomplete-results {  
    max-height: 300px;
    overflow-y: scroll;  
    z-index: 3;
    position: absolute;
    width: 100%;
    margin-top: 3rem;
    border: none !important;
}

.dropdown-item:hover{
    background-color: #5E676E !important;
    color: #121212 !important;
}

input{
    width: 300px !important;
    position: relative;
}

input::placeholder{
    color: rgb(0, 0, 0) !important;
    font-weight: 500 !important;
}

.form-control{
    background-color: #383E42 !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 500 !important;
    border: none !important;
}

.autocomplete-results::-webkit-scrollbar {  
    width: 5px;
    background-color: #1a1a1a;
    border-radius: 0 0.5rem 0.5rem 0;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #747474;
    width: 10px;
    border-radius: 1rem;
}

.autocomplete-item {  
    cursor: pointer;  
    transition: background-color 0.2s;
    background-color: #1a1a1a;
}  
    
.autocomplete-item:hover {  
    background-color: rgb(0, 0, 0);  
}

p{
    margin: 0px !important;
}

.nav-link{
    color: white !important;
}